{% extends 'base.html.twig' %}

{# @var quiz \App\Persistence\Entity\Quiz #}
{# @var lastAttempt \App\Persistence\Entity\QuizAttempt|null #}
{# @var attempt \App\Persistence\Entity\QuizAttempt #}

{% block title %}Quiz app | {{ quiz.name | capitalize }}{% endblock %}

{% block body %}
    <h1 class="my-3">Quiz "{{ quiz.name | capitalize }}"</h1>

    {% if lastAttempt and (lastAttempt.id != attempt.id) %}
        <p class="text-secondary">
            The last attempt was on
            <time datetime="{{ lastAttempt.startedAt | date('Y-m-d\\TH:i:sP') }}">
                {{ lastAttempt.startedAt | date('d/m/y') }}, at {{ lastAttempt.startedAt | date('H:i') }}
            </time>
        </p>
    {% endif %}

    <p>
        {% if not attempt.finished %}
            Time left:
            <time id="countdown" datetime="{{ attempt.startedAt | date('Y-m-d\\TH:i:sP') }}">
                {{ attempt | time_left }}
            </time>
        {% else %}
            Finished in {{ attempt | time_elapsed }}
        {% endif %}
    </p>

    <form id="quiz" method="post">
        {# @var question \App\Persistence\Entity\Question #}
        {% for question in quiz.questions %}
            <div aria-labelledby="question-{{ question.id }}" class="card text-dark bg-light mb-3">
                <div class="card-body">
                    <h5 id="question-{{ question.id }}" class="card-title">{{ question.text }}</h5>
                    <div class="card-text">
                        {% if attempt.finished %}
                            {% include 'quiz/attempt/question-answered.html.twig' with {
                                attempt: attempt,
                                question: question,
                            } %}
                        {% else %}
                            {% include 'quiz/attempt/question-to-answer.html.twig' with {
                                attempt: attempt,
                                question: question,
                            } %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if not attempt.finished %}
            <button
                class="btn btn-lg btn-primary"
                {% if attempt.outdated %}disabled="disabled"{% endif %}
            >
                Submit
            </button>
        {% endif %}
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        const pad = value => value < 10 ? '0' + value : '' + value
        const MINUTES_MAXIMUM = 15

        document.addEventListener('DOMContentLoaded', () => {
            /** @type {HTMLTimeElement} */
            const countdown = document.getElementById('countdown')
            if (countdown) {
                const startedAt = new Date(countdown.dateTime)

                setInterval(() => {
                    const total = Math.floor((Date.now() - startedAt.getTime()) / 1000)
                    const minutes = Math.floor(total / 60)
                    const seconds = Math.floor(total - minutes * 60)

                    if (minutes < MINUTES_MAXIMUM) {
                        countdown.innerHTML = pad(MINUTES_MAXIMUM - minutes - 1) + ':' + pad(59 - seconds)
                    } else {
                        countdown.innerHTML = '00:00'
                        countdown.classList.toggle('text-danger', true)
                        document.querySelectorAll('#quiz input, #quiz button').forEach(input => {
                            input.setAttribute('disabled', 'disabled');
                        })
                    }
                }, 1000)
            }
        })
    </script>
{% endblock %}